html, body {
  height:100vh; /* fix IE11 */
  min-height:100%; /* fix IE11 */  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/*
  Header Component
*/
.nav-container {
  width: 100%;
  min-height: 90px;
  top: 0px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.28);
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
  position: fixed;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}

.colored {
  background-color: #032F5C;
  opacity: 0.9;
  min-height: 70px;
  transition: 0.5s ease-in;
}

.colored-span {
  transition: 0.5s ease-in !important;
  color: white !important; 
}

.colored-li {
  transition: 0.2s ease-in !important;
  color: #404050;
  font-weight: 400 !important;
}

.nav-container-wrapper {
  width: 1440px;
  display: flex;
  flex-direction: row;
}

.nav-left {
  width: 40%;
  margin-left: 5rem;
}

.nav-left a {
  text-decoration: none;
}

.nav-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title-wrapper span:nth-child(1) {
  font-size: 2.5rem;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 300;
  letter-spacing: -0.1rem;
  color: #FEC32D;
  
}
.nav-title-wrapper span:nth-child(2) {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #032F5C;
}

.nav-right {
  display: block;
  width: 65%;
}

.nav-wrapper {
  width: 100%;
  height: 3rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-wrapper li:nth-child(5){
  margin-right: 150px;
}

.nav-item {
  width: 20%;
  line-height: 3rem;
  align-items: center;
  justify-content: center;
  text-align:  center;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}
.nav-item a {
  text-decoration: none;
  color: #404050;
  padding-bottom: 0.5rem;
  transition: color 0.2s ease-in;
}

.nav-item a:hover{
  border-bottom: 3px solid #FEC32D;
  color: #FEC32D;
  transition: all 0.2s ease-out;
}

.nav-menu-bar {
  display: none;
}

.nav-menu-bar i {
  font-size: 2rem;
  color: #324c5f;
}

@media only screen and (max-width: 1150px) {
  .nav-container {
    border-bottom: 0;
    background-color: unset;
  }
  
  .nav-container-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .nav-left {
    width: 100%;
    height: 6rem;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.28);
  }

  .nav-title-wrapper {
    padding-left: 5rem;
  }

  .nav-right {
    display: none;
    position: relative;
    width: 250px;
    height: 257px;
    top: -90px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    align-self: flex-end;
    z-index: 80;
    transition: 100s;
  }

  .nav-wrapper {
    width: 100%;
    height: auto;
    flex-direction: column;
    transition: 100s;
  }

  .nav-item {
    width: 100%;
    line-height: 3rem;
    font-size: 1.2rem;
    color: #032F5C;
    transition: color 10s ease;
    text-align: center;
    /* border-bottom: 0.6px solid rgba(0,0,0,0.2); */
  }

  .nav-wrapper li:nth-child(1) {
    background-color: #E4F1E7;
  }

  .nav-menu-bar {
    display: block;
    margin-left: auto;
    padding-right: 3rem;
  }

  .nav-menu-bar i {
    font-size: 1.7rem;
    color: #324c5f;
  }


}

@media only screen and (max-width: 800px) {
  .nav-container {
    min-height: 80px;
  }

  .nav-left span:nth-child(1) {
    font-size: 2rem;
  }
  .nav-left span:nth-child(2) {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    min-height: 60px;
  }

  .nav-right {
    width: 200px
  }

  .nav-title-wrapper {
    padding-left: 2rem;
  }

  .nav-menu-bar {
    padding-right: 2rem;
  }

  .nav-left span:nth-child(1) {
    font-size: 1.5rem;
  }

  .nav-menu-bar i {
    font-size: 1.5rem;
    color: #324c5f;
  }

  .nav-item {
    font-size: 1rem;
  }
}


/*
  Main Component
*/
#main-image {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  background-image: url("./components/image/pastel.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 650px;  
  background-color: rgba(0,0,0,1);
  color: #032F5C;
  align-items: center;
  justify-content: center;
}

.main-image-title {
  font-family: 'Alegreya', serif;
  font-size: 5rem;
}

.main-image-sub {
  text-align: center;
  font-size: 1.5rem;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(203,203,203,0.1);
} 

.main-container-wrapper {
  max-width: 1440px;
  display: inline-block;
}

.main-title {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  color: #404050;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 5rem;  
}

.main-introduce {
  padding-bottom: 50px;
  padding-left: 5rem;
  padding-right: 2rem;
}

.introduce-image-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.introduce{
  padding-left: 5rem;
  padding-right: 6rem;
}

.introduce-image {
  width: 30%;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-image: url("./components/image/main_profile.png");
  background-position: center;
  background-size: cover;
}
.introduce {
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1150px) {
  #main-image {
    min-height: 500px;
  }
  .main-image-title {
    font-size: 3rem;
  }
  
  .main-image-sub {
    font-size: 1.2rem;
  }

  .introduce-image {
    width: 10rem;
    height: 10rem;
  }

  .introduce {
    font-size: 1rem;
  }

  .introduce-image-container span{
    padding-left: 3rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  #main-image {
    min-height: 400px;
  }
  
  .main-image-sub {
    font-size: 1rem;
  }

  .main-title {
    margin-top: 5rem;
    margin-bottom: 3rem;  
  }

  .main-introduce {
    padding-left: 1rem;
    padding-right: 0;
  }

  .introduce-image {
    width: 7rem;
    height: 7rem;
  }
  
  .introduce {
    font-size: 0.9rem;
    padding-right: 4rem;
  }

  .introduce-image-container span{
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #main-image {
    min-height: 350px;
  }

  .main-image-title {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
  }  
  
  .main-image-sub {
    font-size: 0.65rem;
  }

  .main-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .main-introduce {
    padding-left: 0;
  }

  .introduce-image-container {
    flex-direction: column;
  }

  .introduce-image {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1.5rem;
  }

  .introduce-image-container span{
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.9rem;
  }
}

/*
  Our Service
*/
#main-ourservice {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ourservice-title {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  color: #404050;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.service-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.service-item {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

.service-item span {
  font-size: 1.2rem;
  font-weight: regular;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #032F5C;
}

.service-wrapper {
  margin-top: 1rem;
}

.service-wrapper ul {
  list-style: none;
  padding: 0;
  text-align: start;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.service-wrapper ul li {
  margin-bottom: 0.7rem;
}

.service-image-1 {
  width: 18rem;
  height: 15rem;
  border-radius: 8%;
  background-image: url("./components/image/service_image1.jpeg");
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

.service-image-2 {
  width: 18rem;
  height: 15rem;
  border-radius: 8%;
  background-image: url("./components/image/service_image2.jpeg");
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

.service-image-3 {
  width: 18rem;
  height: 15rem;
  border-radius: 8%;
  background-image: url("./components/image/service_image3.jpeg");
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1150px) {
  .service-list {
    flex-direction: column;
  }

  .service-item {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .service-image-1 {
    width: 50%;
    height: 13rem;
    order: 2;
  }

  .service-image-2 {
    width: 50%;
    height: 13rem;
  }

  .service-image-3 {
    width: 50%;
    height: 13rem;
    order: 2;
  }
  
  .service-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    order: 1;
  }

  .service-wrapper span {
    margin-top: 0;
  }

}

@media only screen and (max-width: 800px) {
  .ourservice-title {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .service-items {
    display: grid;
    grid-template-areas:
            "a b"
            "c d";
    grid-column-gap: 1.8rem;
  }

  .service-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .service-image-1 {
    width: 20rem;
    height: 13rem;
    order: 2;
  }

  .service-image-2 {
    width: 20rem;
    height: 13rem;
    order: 2;
  }

  .service-image-3 {
    width: 20rem;
    height: 13rem;
    order: 2;
  }

  .service-wrapper {
    width: 100%;
  }

  .service-wrapper span {
    font-size: 1.1rem;
  }

  .service-wrapper ul {
    margin-bottom: 1rem;
  }

  .service-wrapper ul li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .service-item {
    width: 90%;
  }

  .ourservice-title {
     font-size: 1.5rem;
  }
}

/*
  Main Service
*/

#main-service-section {
  width: 100%;
  background: rgba(203,203,203,0.1);
  padding-bottom: 6rem;
}

.main-service-container {
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main-service-title {
  width: 90%;
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  color: #404050;
  text-transform: uppercase;
}

.main-service-wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.main-service-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.main-service-desc div {
  width: 90%;
}

.service-target h2 {
  padding-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #032F5C;
  font-size: 1.4rem;
  border-radius: 10%;
  padding: 0.7rem;
  border: 1px solid rgba(203,203,203,0.4);
  background-image: url("./components/image/pastel.jpg");
  text-align: center;
}

.service-content h2 {
  padding-bottom: 4px;
  border-bottom: 0.2px solid rgba(0,0,0,0.8);
}

.service-program h2 {
  padding-bottom: 4px;
  border-bottom: 0.2px solid rgba(0,0,0,0.8);
}
/*
  image-slider
*/
.slider {
  position: relative;
  width: 65%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  border-radius: 2%;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.rightArrow, .leftArrow {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);  
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.rightArrow {
  position: absolute;
  top: 45%;
  right: 25px;
  z-index: 1;
  color: rgba(203,203,203,0.4);
}

.leftArrow {
  position: absolute;
  top: 45%;
  left: 25px;
  z-index: 1;
  color: rgba(203,203,203,0.4);
}

.rightArrow:hover, .leftArrow:hover {
  transition: transform ease-in .1s;
  transform: scale(1.1);
  background-color: rgba(255,255,255,0.9);
}

@media only screen and (max-width: 1150px) {
  .main-service-wrapper {
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .main-service-desc {
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .service-target h2 {
    width: 60%;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .service-content-wrapper {
    display: flex;
    /* margin-bottom: 3rem; */
  }

  .service-content {
    margin-right: 1rem;
  }

  .service-content h2 {
    font-size: 1rem;
  }

  .service-content ul {
    padding-left: 20px;
  }

  .service-program  h2{
    font-size: 1rem;
  }

  .service-program ul {
    padding-left: 20px;
  }
  
  .slider {
    width: 80%;
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .main-service-title {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .main-service-wrapper {
    margin-bottom: 3rem;
  }

  .main-service-desc {
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .service-target h2 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .service-content-wrapper {
    display: flex;
    margin-bottom: 1rem;
  }

  .service-content ul li {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
  }

  .service-program ul li {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
  }

  .slider {
    width: 70%;
    height: 300px;
  }

  .rightArrow, .leftArrow {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-service-title {
    font-size: 1.5rem;
  }

  .main-service-desc {
    width: 100%;
  }

  .service-target h2 {
    width: 80%;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .service-content-wrapper {
    flex-direction: column;
  }

  .service-program ul li:nth-child(1){
    font-size: 0.82rem;
  }

  .slider {
    width: 90%;
    height: 200px;
  }

}

/*
  Partner
*/
#partner-container {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.partner-container-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.partner-title{
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  color: #404050;
  text-transform: uppercase;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.partner-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 5fr 5fr 5fr;
  grid-template-columns: repeat(4, 5fr);
  -ms-grid-gap: 1.3rem;
  grid-gap: 1.3rem;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 0;
  margin-bottom: 5rem;
}

.partner-list li {
  height: 6rem;
  width: 16rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;  
}

.partner-item-1 {
  background-image: url('./components/image/gs-caltex.gif');
}

.partner-item-2 {
  background-image: url('./components/image/good-neigh.jpg');
}

.partner-item-3 {
  background-image: url('./components/image/seoul-culture.jpg');
}

.partner-item-4 {
  background-image: url('./components/image/gangnam.gif');
}

.partner-item-5 {
  background-image: url('./components/image/korea-university.png');
}

.partner-item-6 {
  background-image: url('./components/image/kyunghee.jpg');
}

.partner-item-7 {
  background-image: url('./components/image/sunchun.gif');
}

.partner-item-8 {
  background-image: url('./components/image/noname.png');
}

@media only screen and (max-width: 1150px) {
  .partner-list {
    grid-template-columns: repeat(3, 4fr);
  }
  .partner-list li {
    height: 5rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 800px) {
  .partner-list {
    grid-template-columns: repeat(2, 5fr);
  }

  .partner-list li {
    height: 5rem;
    width: 14rem;
  }  
  .partner-title {
      margin-top: 3rem;
      margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .partner-list {
    grid-template-columns: repeat(2, 5fr);
  }

  .partner-list li {
    height: 3rem;
    width: 10rem;
  }  

  .partner-title {
     font-size: 1.5rem;
  }
}

/*
  footer
*/

.footer-container {
  display: flex;
  width: 100%;
  min-height: 350px;
  background-color: #324c5f;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: rgba(0,0,0,0.6);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.main-contact-wrapper {
  display: flex;
  display: -ms-flexbox;
  
  -ms-flex-direction: row;
  flex-direction: row;
  width: 80%;
  
  
  align-content: center;
  justify-content: space-between;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  position: left;
}

.contact {
  margin: 0;
  padding-left: 0;
  margin-bottom: 0.5rem;
  list-style: none;
  color: antiquewhite;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: flex-start;
  grid-gap: 0.8rem;
}

.contact-wrapper p {
  margin: 0;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: antiquewhite;
  opacity: 0.8;
}

.contact-sns-wrapper {
  justify-self: end;
}

.contact-sns-wrapper ul {
  padding-left: 0;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-sns-wrapper p {
  font-size: 1rem;
  opacity: 0.7;
}

.contact li {
  padding-right: 1rem;
  font-size: 1.1rem;
}

.contact li i {
  font-size: 1.3rem;
  padding-right: 0.3rem;
}

.contact li:nth-child(3) {
  padding-right: 0;
}

.contact li:nth-child(4) {
  display: flex;
}

.contact-sns li i {
  font-size: 3rem;
  padding-right: 1rem;
}

.kakao-image {
  background-image: url('./components/image/kakao.png');
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 1rem;
  margin-left: -8px;
}

.fa-instagram {
  color: #A1755C;
}

.fa-facebook-square {
  color: #3B599F;
}

.fa-twitter-square {
  color: #32CBFE;
}

.fa-linkedin {
  color: #0085AE;
}

@media only screen and (max-width: 1150px) {
  .main-contact-wrapper {
    width: 90%;
  }

  .contact li {
    font-size: 1rem;
  }

  .contact li i{
    font-size: 1rem;
  }

  .kakao-image {
    width: 1rem;
    height: 1rem;
  }

  .contact-sns li i {
    font-size: 2.5rem;
  }

  .contact-sns-wrapper p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .footer-container {
    margin-top: 3rem;
  }

  .main-contact-wrapper {
    flex-direction: column;
  }

  .contact-wrapper {
    align-items: center;
    margin-bottom: 1.8rem;
  }

  .contact-wrapper p {
    font-size: 0.9rem;
  }

  .contact-sns-wrapper p {
    font-size: 0.9rem;
  }

  .contact li {
    font-size: 0.9rem;
  }

  .contact-sns li i{
    font-size: 2rem;
  }

}

@media only screen and (max-width: 600px) {
  .contact-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact li {
    margin-bottom: 0.6rem;
  }

  .contact li i {
    font-size: 0.9rem;
  }

  .contact-sns-wrapper p {
    font-size: 0.85rem;
  }
}